/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/* Title */
.jumbotron {
    text-align: center;
    padding-left: 0;
}

/* list */
.list-group {
    width: auto;
    margin-left: 2%;
    float: left;
}

/* list for mobile phones: */
@media only screen and (max-width: 768px) {
    .list-group {
        width: 100%;
    }

    .row {
        position: relative;
        width: 100%;
    }

    .card {
        width: 190%;
        margin-top: 10%;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}