/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/* sidebar */
.tab-content {
    margin-left: 15%;
}

.list-group {
    float: left;
    width: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

