/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/* Title */
.jumbotron {
    text-align: center;
    padding-left: 0;
}

/* list */
.list-group {
    width: 15%;
    margin-left: 2%;
    float: left;
}


a {
    color: inherit;
    text-decoration: inherit;
}

/* Back image */
.back {
    display: block;
    height: 6%;
    width: 6%;
    float: left;
    top: 0;
    border: 1px solid lightgrey;
}

/* upload form */
.upload {
    margin-left: 20%;
    padding-top: 3%;
}

/* add image */
.add {
    height: 40%;
    width: 40%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* video */
video.mainVideo {
    float: left;
    width: 50%;
    height: 200%;
    margin-left: 5%;
}

/* video information */
.info {
    float: right;
    width: 36%;
}

.text-muted {
    float: right;
    width: auto;
    max-width: 30%;
}

.btn-group {
    float: left;
    width: auto;
    max-height: 25%;
}

.tags-input {
    width: 100% !important;
}

.alert-danger {
    width: 100%;
    margin-top: 2%;
}