/* mobile phone design: */
@media only screen and (max-width: 768px) {
    .container {
        margin-top: 1%;
    }

    .full {
        width: 100%;
    }

    .btn-outline-danger {
        margin-top: 2%;
    }

    .list-group {
        width: 100%;
    }

    .row {
        position: relative;
        width: 100%;
    }

    .card {
        width: 100%;
        margin-top: 10%;
    }
}